/* reset */
*{
    margin: 0px;
    padding: 0px;
}

/* ---  Navbar ---*/
.navbar{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color: #e9454d;
}
.logo{
    height: 3rem;
    width: 3rem;
    border-radius: 121%;
}

   
.navItems{
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.navItems i{
    font-size: 30px;
    margin-bottom: 8px;
}
.navItems span{
    font-size: 12px;
    font-weight: 500;
}
ul{
    display: flex;
    align-items: center;
}

ul>li{
    list-style-type:none;
}
ul>li>a{
    padding: 2rem;
    color: yellow;
    text-decoration: none;
    font-family: sans-serif;
}
#searchbar{
    width: 32%;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 0.9rem;
    margin-left: 9rem;
    border-radius: 6rem;
}

/* --- Second Navbar ---*/

.navbar2{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-around;
}

.navItems2 a{
    padding: 1rem;
    color: #e9454d;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;

}

/* our products section */

.our_products{
    height: 60vh;
    display: grid;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    overflow: hidden;
}
.card1{
    grid-row: 1/4;
}

.card2{
    grid-row: 1/4;
}

.product_Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
